.pie{
    height: 121px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
    .copyright{
        font-size: 14px;
        line-height: 22px;
        font-family: 'IBM Plex Mono', monospace;
    }
    .pie .iconos{        
        width:230px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 16px;
    }
