*{
    font-family: 'IBM Plex Sans', sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
}

/* ------ PRIMERA SECCIÓN: Menú ------  */

.boxtop{
    position: relative;
    background-color: #FFFFFF; 
    width: 100%;
    height: 44px;
    margin-bottom: 29px;
}

.iconbd{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 16px;
    top: 10px;
}

/* -- Caja chechkbox escondida -- */

.check-ham{
    display: none;
}

.boxtop .check-ham:checked + .menu-ham{
    visibility: visible;
} 
/*¿Cómo se hace para que cuando presione la hamburguesa
la equis aparezca y la hamburguesa desaparezca?*/

/* -- Hamburguesa -- */

.hamburguesa{
    position: absolute;
    left: 283px;
    top: 16px;
}

    .hamburguesa > div{
        width: 18px;
        height: 2px;
        background-color: black;    
    }

    div.linea2{
        margin-top: 3px;
        margin-bottom: 3px;
    }

        /* .ham{
            position: absolute;
            width: 18px;
            height: 2px;
            left: 283px;
            /* top: 16px;
            right: 19px;
            top: 16px;
            bottom: 16px; 
            left: 283px; */
            /* margin: 16px 19px 16px 283px;
        } Para el ícono de la hamburguesa*/

/* -- diseño de la X
    .equis{
        position: absolute;
        right: 20px;
        top: 15px;
        width: 14px;
        height: 14px;
        background-color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
    }
        .equis i{
            transform: scale(1.3,1.3);
            display: none;
            z-index: 3;
        } */

/* -- Barra de navegación -- */

.menu-ham{ /* Menú azul que se esconde */
    position: absolute;
    width: 320px;
    height: 224px;
    background-color: #0000EC;
    color: #FFFFFF;
    font-family: 'IBM Plex Mono', monospace;
    margin-top: 44px;    
    visibility: hidden;
    z-index: 10;
}
    .menu-ham ul{        
        list-style: none; /*elimina las viñetas del a lista*/
        margin-left: 16px;       
    }
    .menu-ham a{
        text-decoration: none;
        font-family: 'IBM Plex Mono', monospace;
        
    }
    .menu-ham ul li{        
        color: #FFFFFF;
        height: 28px;
        margin-top: 24px;
        display: flex;
        align-items: center;
        justify-content: left;
    }
        .menu-ham ul li:nth-child(1){
            margin-top: 16px;
        }
        .menu-ham ul li:hover{
            color: #00F3BB;
            text-decoration: line-through;
        }
        .menu-ham ul li:active{
            color: grey;
            text-decoration: line-through;
        }

/* ------ SEGUNDA SECCIÓN: holapunto ------ */

.holapunto{        
    height: 303px;
    width: 100%;
    background-color: #FFFFFF;
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}
    .hello{        
        font-size: 36px;
    }
    .world{
        text-decoration: line-through;
    }
    /* Para poner un salto de línea después de world */
    .world::after{
        content: '\A';
        white-space: pre;
    }
    .parr1{
        font-size: 14px;
        font-family: 'IBM Plex Mono', monospace;
        margin-top: 16px;
        margin-bottom: 36px;        
        line-height: 22px;
        width: 288px;
        height: 66px;
    }
    .conmas{
        width: 288px;
        height: 48px;
        background: #00F3BB;
        color: #060A24;
        display: flex;
        align-items: center;
        justify-content: center;
    }
        .conmas .conoce-mas{
            font-size: 16px;
            font-family: 'IBM Plex Mono', monospace;                        
            /* -- ¿Cómo aplicar el estilo medium? -- */
        }        
        .conmas:hover{
            background: linear-gradient(to left, #0000FE, #00F0B8);
            color: #FFFFFF;
        }            

/* ------ TERCERA SECCIÓN: Episodios ------ */

.sec-ep{
    position: relative;
    width: 100%;
    height: 1293.5px;
    margin-top: 347px;
    background-image: linear-gradient(225deg, #0000FF, #0000A3);
}
    .screen{
        visibility: hidden;
    }
    .podcast{
        width: 298px;
        height: 225px;
    }

/* ------ MEDIA QUERY: Todas las pantallas ------ */

@media (min-width: 350px){
    /* body, header{
        width: 100%;
        height: 100vh;
    } */
    /* Aún no estoy seguro si es necesaria esta parte */

    /* ------ PRIMERA SECCIÓN: Menú ------  */

    .boxtop{
        width: 100%;
        height: 80px;
        
        z-index: 1;
    }
    .iconbd{
        width: 36px;
        height: 36px;
        left: 100px;
        top: 22px;
        z-index: 9;
    }

    /* ¿Qué ocurre con la caja de checkbox? ¿Debo modificarle algo? */

    /* -- Hamburguesa -- */

    .hamburguesa{
        display: none;
    }

    /* -- Barra de navegación -- */

    .menu-ham{ /* Menú azul que se esconde */        
        width: 100%;
        height: 80px;
        background-color: #FFFFFF;
        color: #060A24;
        margin-top: 0px;    
        visibility: visible;
        z-index: 8;
    }
        .menu-ham ul{        
            position: absolute;
            list-style: none; /*elimina las viñetas del a lista*/
            margin-left: 0px;  
            margin-top: 0px;
            width: 100%;
            height: 80px;
            display: flex;
            justify-content: flex-end;
        }
        .menu-ham ul li{        
            color: #060A24 ;            
            height: 28px;
            margin-top: 26px;            
            margin-right: 48px;            
        }
            
            .menu-ham ul li:nth-child(1){
                margin-top: 26px;
            }
            .menu-ham ul li:nth-child(4){
                margin-right: 100px;
            }
            .menu-ham ul li:hover{
                color: #00F3BB;
                text-decoration: line-through;
            }
            .menu-ham ul li:active{
                color: grey;
                text-decoration: line-through;
            }
    
    /* ------ SEGUNDA SECCIÓN: holapunto ------ */

    .holapunto{
        width: 100%;
        height: 369px;
        background-color: #FFFFFF;
        position: absolute;
        display: flex;
        flex-direction: column;
        margin-left: 200px;
    }
        .hello{        
            font-size: 64px;
            margin-top: 120px;
        }
        .world{
            text-decoration: line-through;
        }
        .world::after{
            content: none;
            white-space: normal;
        }
        /* Con esta regla creo un texto antes del original
        luego lo hago visible el nuevo y escondo el original */
        .parr1::before{
            content: "El portal de podcasts que explora el mundo de la programación y la tecnología. Nuevos episodios, todos los jueves cada 15 días.";
            visibility: visible;
        }
        .parr1{
            font-size: 16px;            
            margin-top: 0px;        
            line-height: 24px;
            width: 628px;
            height: 48px;
            visibility: hidden;
        }
        .conmas{
            width: 226px;
            height: 56px;
            margin-top: 308px;
            margin-bottom: 5px;
            position: absolute;
        }
            .conmas .conoce-mas{
                font-size: 18px;                
                /* -- ¿Cómo aplicar el estilo medium? -- */
            }        
            .conmas:hover{
                background: linear-gradient(to left, #0000FE, #00F0B8);
                color: #FFFFFF;
            }        
            
    /* ------ TERCERA SECCIÓN: Episodios ------ */

    .sec-ep{
        height: 1042.6px;
        margin-top: 449px;
        background-image: linear-gradient(225deg, #0000FF, #0000A3);
    }
        .screen{
            visibility: visible;
            position: absolute;
        }
        .mobile{
            display: none;
        }
        .podcast{
            width: 298px;
            height: 225px;
        }
        .titulo-ep{
            position: absolute;
            width: 209px;
            height: 62px;
            color: #FFFFFF;
            font-size: 48px;
            margin-top: 186px;
            margin-left: 200px;
            margin-bottom: 26px;
        }

    }