/* ------ PRIMERA SECCIÓN: Menú ------  */

.boxtop{
    height: 44px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    .iconbd{
        width: 24px;
        height: 24px;
        margin-left: 16px;
    }

/* -- Hamburguesa -- */

    .hamburguesa{
        margin-right: 19px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
        .hamburguesa span{
            width: 18px;
            height: 2px;
            background: #000000;
            transition: 0.2s; /*transición de tiempo en que se toma la contracción de la hamburguesa*/
        }
        span.linea2{
            margin-top: 3px;
            margin-bottom: 3px;
        }
        /* Estilo para que la hamburguesa se expanda */
        span.hamburguesa:hover .linea1{ transition: 0.2s; transform: translateY(-100%);}
        span.hamburguesa:hover .linea3{ transition: 0.2s; transform: translateY(100%);}

/* -- Barra de navegación -- */

.menu-ham{ /* Menú azul que se esconde */
    position: absolute;
    width: 100%;
    height: 224px;
    background: #0000EC;
    color: #FFFFFF;
    top: 20px;
    visibility: hidden;
    transition: 0.25s ease-in;
    filter: opacity(50%);
}
    .menu-ham ul{
        list-style: none; /*elimina las viñetas del a lista*/
        margin-left: 16px;
    }
    .menu-ham a{
        text-decoration: none;
        font-family: 'IBM Plex Mono', monospace;
        color: #FFFFFF;
        font-size: 16px;
    }
    .menu-ham ul li{
        height: 28px;
        margin-top: 24px;
        display: flex;
        align-items: center;
    }
        .menu-ham ul li:nth-child(1){
            margin-top: 16px;
        }
        .menu-ham ul li a:hover{
            color: #00F3BB;
            text-decoration: line-through;
            transition: 0.4s;
        }
        .menu-ham ul li a:active{
            color: #8F060A24;
        }

/* -- Animaciones para el menú -- */

.check-ham{ /*Desaparece la caja para hacer check*/
    display: none;
}
.boxtop .check-ham:checked ~ .menu-ham{ /*Da la funcionalidad para que al hacer check aparezca o desaparezca el menú*/
    visibility: visible;
    filter: opacity(100%);
    transition: 0.3s;
    top: 44px;
}

/* ------ Conversión en X ------ */

.boxtop .check-ham:checked + .h-1 .hamburguesa .linea1{
    transition: 0.3s;
    transform: translate(0px, 5px) rotate(45deg);
}
.boxtop .check-ham:checked + .h-1 .hamburguesa .linea2{
    transition: 0.3s;
    opacity: 0;
}
.boxtop .check-ham:checked + .h-1 .hamburguesa .linea3{
    transition: 0.3s;
    transform: translate(0px, -5px) rotate(-45deg);
}

/* ------ MEDIA QUERY ------ */

@media (min-width: 780px){

/* ------ PRIMERA SECCIÓN: Menú ------  */

.boxtop{
    height: 80px;
}
    .iconbd{
        width: 36px;
        height: 36px;
        margin-left: 100px;
    }

/* -- Hamburguesa -- */

    .hamburguesa{ /* Hamburguesa desaparece */
        display: none;
    }

/* -- Barra de navegación -- */

.menu-ham{ /* Menú azul que se esconde */
    position: relative;
    width: auto;
    height: 80px;
    background: #FFFFFF;
    color: #060A24;
    top: 0px;
    visibility: visible;
    display: flex;
    align-items: center;
    transition: none;
    filter: none;
}
    .menu-ham ul{
        margin-left: 0px;
        margin-right: 100px;
        display: flex;
        justify-content: flex-end;
    }
    .menu-ham a{
        color: #060A24;
    }
    .menu-ham ul li{
        margin-top: 0px;
        margin-right: 48px;
    }
        .menu-ham ul li:nth-child(1){
            margin-top: 0px;
        }
        .menu-ham ul li:nth-child(4){
            margin-right: 0px;
        }
}