/* ------ SEGUNDA SECCIÓN DE BOXTOP: holapunto ------ */

.hello-box{
    height: 303px;
    background: #FFFFFF;
    color: #060A24;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
    .hello{
        margin-left: 16px;
        font-size: 36px;
        line-height: 42px;
    }
    .world{
        text-decoration: line-through;
    }

    /* --- Texto utilizado en el diseño --- */
    /*Se utilizará también para el segundo texto del diseño UI*/

    .text-p{
        font-family: 'IBM Plex Mono', monospace;
        font-size: 14px;
        line-height: 22px;
    }
        .text-area-margin-top{
            max-width: 288px;
            margin-left: 16px;
        }

    /* --- Botón Azul --- */
    /*Se utilizará también para el segundo botón del diseño UI*/

    .button-blue{
        max-width: 288px;
        height: 48px;
        background: #00F3BB;
        color: #060A24;
        font-family: 'IBM Plex Mono', monospace;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        transition: 0.5s;
    }
        .margin-button-top{
            margin-left: 16px;
        }
        .button-blue:hover{
            color: #FFFFFF;
            background: linear-gradient(225deg, #0000FE, #00F0B8);
            cursor: pointer;
        }

/* ------ MEDIA QUERY ------ */

    @media (min-width: 780px){
        /* ------ SEGUNDA SECCIÓN: holapunto ------ */
    .hello-box{
        height: 369px;
        justify-content: flex-end;
    }
        .hello{
            margin-left: 200px;
            max-width: 740px;
            line-height: normal;
            font-size: 64px;
        }
        .dot{
            color: #0000EC;
        }
        
        /* --- Texto utilizado en el diseño --- */
        
        .text-p{
            font-size: 16px;
            line-height: 24px;
            visibility: hidden;
        }
            .text-area-margin-top{
                max-width: 628px;
                height: 48px;
                margin-left: 200px;
            }
            .text-before::before{
                content: "El portal de podcasts que explora el mundo de la programación y la tecnología. Nuevos episodios, todos los jueves cada 15 días.";
                visibility: visible;
            }

        /* --- Botón Conocé Más --- */
        
        .button-blue{
            max-width: 740px;
            width: 226px;
            height: 56px;
            font-size: 18px;
        }
            .margin-button-top{
                margin-left: 200px;
                margin-top: 56px;
                margin-bottom: 5px;
            }
    }