/* ------ CUARTA SECCIÓN: De donde venimos ------ */

.nosotros{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;    
}
    .celular{
        position: relative;
        transform: translate(0px, -70px);
        align-self: center;
        height: 519px;
        z-index: 11;
    }
    .contenedor-nosotros{
        display: flex;
        flex-direction: column;
        transform: translate(0px, -50px);
    }                
        .donde{            
            margin-left: 16px;
            margin-bottom: 8px;   
            margin-top: 27px;     
            font-size: 36px;   
            line-height: 42px;
        }
            .venimos::after{
                content: '\A';
                white-space: pre;
            }
        .parr2{
            margin-left: 16px;            
            font-size: 14px;
            font-family: 'IBM Plex Mono', monospace;                      
            line-height: 22px;

        }

@media (min-width: 350px){
    .nosotros{
        height: 555.4px;        
        flex-direction: row;
        justify-content: center;
    }    
        .celular{            
            width: 457.6px;
            height: 660px;
            transform: translate(0px, -100px);
        }
        .contenedor-nosotros{
            margin-top: 0px;
            margin-left: 62.4px;
            transform: translate(0px, 0px);
        }
            .donde{
                margin-top: 20.4px;
                margin-left: 0px;
                margin-bottom: 24px;                
                font-size: 48px;
                left: 0px
            }
                .venimos::after{
                    content: none;
                    white-space: normal;
                }
            .parr2{
                
                margin-left: 0px;
                font-size: 16px;
                line-height: 24px;
                width: 464px;
                height: 102px;
            }
}