/* ------ CUARTA SECCIÓN: De donde venimos ------ */

.nosotros{
    display: flex;
    flex-direction: column;
}
    .celular{
        height: 519px;
        transform: translate(0px, -70px);
        align-self: center;
    }
    .contenedor-nosotros{
        display: flex;
        flex-direction: column;
        transform: translate(0px, -50px);
        color: #060A24;
    }
        .donde{
            margin-left: 16px;
            margin-bottom: 8px;
            font-size: 36px;
            line-height: 42px;
        }

        /* --- Texto utilizado en el diseño --- */
        
        .text-area-margin-bottom{
            max-width: 288px;
            margin-left: 16px;
        }

@media (min-width: 780px){
    .nosotros{
        height: 555.4px;
        flex-direction: row;
        justify-content: center;
    }
        .celular{
            width: 457.6px;
            height: 660px;
            transform: translate(0px, -100px);
        }
        .contenedor-nosotros{
            margin-left: 62.4px;
            transform: translate(0px, 0px);
        }
            .donde{
                margin-top: 20.4px;
                margin-left: 0px;
                margin-bottom: 24px;
                font-size: 48px;
            }

            /* --- Texto utilizado en el diseño --- */

            .text-area-margin-bottom{
                max-width: 464px;
                margin-left: 0px;
            }
            .text-visible{
                visibility: visible;
            }
}