.novedades{
    height: 341px;
    background-image: linear-gradient(225deg, #0000FF, #0000A3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    clip-path: polygon(0% 12%, 100% 0%, 100% 100%, 0% 100%);
        -webkit-clip-path: polygon(0% 12%, 100% 0%, 100% 100%, 0% 100%);
        -o-clip-path: polygon(0% 12%, 100% 0%, 100% 100%, 0% 100%);
        -ms-clip-path: polygon(0% 12%, 100% 0%, 100% 100%, 0% 100%);
}
    .titulo-ep2{
        margin-bottom: 36px;
        color: #FFFFFF;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
    }
    .margin-button-bottom{
        margin-left: 0px;
        width: 288px;
    }

@media (min-width: 780px){
    .novedades{
        height: 518px;
        justify-content: normal;
        clip-path: polygon(0% 25%, 100% 0%, 100% 100%, 0% 100%);
            -webkit-clip-path: polygon(0% 25%, 100% 0%, 100% 100%, 0% 100%);
            -o-clip-path: polygon(0% 25%, 100% 0%, 100% 100%, 0% 100%);
            -ms-clip-path: polygon(0% 25%, 100% 0%, 100% 100%, 0% 100%);
    }
    .titulo-ep2{
        margin-top: 213px;
        font-size: 48px;
    }
}