.novedades{
    width: 100%;
    height: 341px;
    background-image: linear-gradient(225deg, #0000FF, #0000A3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0% 12%, 100% 0%, 100% 100%, 0% 100%);
        -webkit-clip-path: polygon(0% 12%, 100% 0%, 100% 100%, 0% 100%);
        -o-clip-path: polygon(0% 12%, 100% 0%, 100% 100%, 0% 100%);
        -ms-clip-path: polygon(0% 12%, 100% 0%, 100% 100%, 0% 100%);
}
    .titulo-ep2{
        margin-bottom: 36px;
        color: #FFFFFF;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        width: 288px;
        height: 126px;
    }
    .conmas2{
        width: 288px;
        height: 48px;
        background: #00F3BB;
        color: #060A24;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.5s;
    }
        .conmas2 .conoce-mas2{
            font-size: 16px;
            line-height: 22px;
            font-family: 'IBM Plex Mono', monospace;    
            font-weight: 500;
        }        
        .conmas2:hover{
            background: linear-gradient(to left, #0000FE, #00F0B8);
            color: #FFFFFF;
        }

@media (min-width: 780px){
    .novedades{
        height: 518px;
        clip-path: polygon(0% 25%, 100% 0%, 100% 100%, 0% 100%);
            -webkit-clip-path: polygon(0% 25%, 100% 0%, 100% 100%, 0% 100%);
            -o-clip-path: polygon(0% 25%, 100% 0%, 100% 100%, 0% 100%);
            -ms-clip-path: polygon(0% 25%, 100% 0%, 100% 100%, 0% 100%);
    }
    .titulo-ep2{
        width: 100%;
        height: auto;
        font-size: 48px;
    }
    .conmas2{
        width: 345px;
        height: 56px;
    }
        .conmas2 .conoce-mas2{
            font-size: 18px;
            line-height: 24px;
        }
}