.pie{
    height: 121px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
    .copyright{
        color: #060A24;
        font-size: 14px;
        line-height: 22px;
        font-family: 'IBM Plex Mono', monospace;
    }
    .pie .iconos{
        width: 230px;
        margin-top: 16px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
        .pie .iconos a{
            color: #060A24;
            transition: 0.5s;
        }
        .pie .iconos a:hover{
            color: blue;
        }
        .pie .iconos a:link{
            text-decoration: none;
        }
        i.fab{
            font-size: 16px;
            line-height: 28px;
        }

@media (min-width: 780px){
    .pie{
        height: 95px;
        flex-direction: row;
        justify-content: space-between;
    }
        .copyright{
            margin-left: 7%;
            font-size: 16px;
            line-height: 28px;
        }
        .pie .iconos{
            margin-top: 0px;
            margin-right: 7%;
        }
            i.fab{
                font-size: 18px;
            }
}