.topicos{
    display: flex;
    flex-direction: column;
}
    .algunos{
        margin-top: 48px;
        margin-left: 16px;
        font-size: 36px;
        line-height: 42px;
    }
    /* .cont-img-p{
        width: 288px;
    } */
        .cont-img-p figure{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 36px;
        }
            .cont-img-p figure:nth-child(1){
                margin-top: 24px;
            }
            .cont-img-p figure:nth-child(4){
                margin-bottom: 42px;
            }
            .cont-img-p figure img{
                width: 104px;
                height: 104px;
                margin-bottom: 13px;
            }
            .cont-img-p figure p{
                line-height: 30px;
                font-size: 24px;   
                font-weight: 600;
                text-align: center;
            }
                .cont-p-ultimo .salto::after{
                    content: none;
                    white-space: normal;
                }

@media (min-width: 780px){
    .topicos{
        height: 426px;
        justify-content: space-evenly;
    }
        .algunos{
            font-size: 48px;
            height: 62px;
            margin-top: 0px;
            margin-left: 13.9%;
        }
            .algunos .salto::after{
                content: none;
                white-space: normal;
            }
            .cont-img-p{
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-bottom: 0px;
            }
            .topicos figure{
                width: 260px;
            }
            .topicos figure img{
                width: 104px;
                height: 104px;
                margin-bottom: 29px;
            }
            .topicos figure p{            
                margin-bottom: 0px;
                font-size: 24px;   
                font-weight: 600;
                text-align: center;
            }
            .topicos .reemplazar .salto::after{
                content: '\A';
                white-space: pre;
            }
            .topicos .cont-p-ultimo .salto::after{
                content: '\A';
                white-space: pre;
            }
            .topicos .cont-p-primero, .cont-img-p .cont-p-ultimo{
                margin-bottom: 0px;
            }        
}