.topicos{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;           
    align-items: center;
}
    .algunos{        
        font-size: 36px;
        line-height: 42px;
        margin-left: 16px;    
        margin-top: 48px;   
        width: 288px; 
    }
    .cont-img-p{
        display: flex;
        flex-direction: column;           
        align-items: center;
        margin-top: 24px;
    }
        .cont-img-p div{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-bottom: 52px;
        }
            .cont-img-p div:nth-child(1){
                margin-bottom: 36px;
            }
            .cont-img-p div:nth-child(4){
                margin-bottom: 42px;
            }
            .cont-img-p div p{
                line-height: 30px;
                font-size: 24px;   
                font-weight: 600;
                text-align: center;
            }
        .cont-img-p img{
            width: 104px;
            height: 104px;
            margin-bottom: 13px;
        }
        .cont-p-ultimo .salto::after{
            content: none;
            white-space: normal;
        }

@media (min-width: 780px){
    .topicos{
        height: 426px;
        display: flex;
        align-items: flex-start;
    }
        .algunos{
            font-size: 48px;
            margin-left: 200px;
            margin-top: 64px;            
            width: 586px;
            height: 62px;
        }
            .salto::after{
                content: none;
                white-space: normal;
            }
        .cont-img-p{
            width: 72.2vw;
            flex-direction: row;
            align-items: baseline;
            align-self: center;
            margin-top: 56px;
        }
            .cont-img-p img{
                width: 104px;
                height: 104px;
                margin-bottom: 29px;
            }
            .cont-img-p > p{            
                margin-bottom: 0px;
                font-size: 24px;   
                font-weight: 600;
                text-align: center;
            }
            .cont-img-p .reemplazar .salto::after{
                content: '\A';
                white-space: pre;
            }
            .cont-img-p .cont-p-ultimo .salto::after{
                content: '\A';
                white-space: pre;
            }
            .cont-img-p .cont-p-primero, .cont-img-p .cont-p-ultimo{
                margin-bottom: 0px;
            }        
}